{% extends 'base.html.twig' %}

{% block title %}Imagen Galeria{% endblock %}

{% block body %}
    {{ parent() }}
<div id="galeria">
    <div class="container">
        <div class="col-xs-12 col-sm-8 col-sm-push-2">
            <h1>GALERIA</h1>
            <hr>



    {% for message in app.flashes('exito') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {{ form(formulario) }}
            <hr class="divider">
            <div class="imagenes_galeria">

        <table class="table">
            <thead><tr><th scope="col">#</th><th scope="col">Imagen</th><th scope="col">Categoría</th><th scope="col">Visualizaciones</th><th scope="col">Likes</th><th scope="col">Descargas</th></tr></thead>
            <tbody>
        {%  for imagen in arrayImagenes %}
            <tr>
                <th scope="row">{{ imagen.id }}</th>
                <td><img width="100px" src="../{{ asset('uploads/imagenes_subidas/') }}{{ imagen.nombre }} " alt="{{ imagen.descripcion}}" title="{{ imagen.descripcion}}"></td>
                <td>{{ imagen.categoria}}</td>
                <td>{{ imagen.numVisualizaciones }}</td>
                <td>{{ imagen.numLikes }}</td>
                <td>{{ imagen.numDownloads}}</td>

            </tr>
        {% endfor %}
            </tbody>
        </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block footer %}
{% endblock %}